body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: 'Roboto', sans-serif;

}

.header {
    display: flex;
    padding: 1em 0;
    justify-content: space-around;
    background-color: #1F2937;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    gap: 2em;
}

.navbar a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.navbar a:hover {
    color: #3882F6;
}

.hero {
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    padding: 2em 0;
}

.hero-content {
    width: 25%;
}

.hero h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.hero p {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-content button, .cta button {
    padding: 0.5em 1.5em;
    background-color: #3882F6;
    font-size: 18px;
    color: #E5E7EB;
    border-radius: 13px;
    border: 0;
}

.infos {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 500px;
}

.infos h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.images {
    display: flex;
    justify-content: center;
}

.quote {
    background-color: #E5E7EB;
    text-align: center;
    padding: 10em;
}

.quote p {
    font-size: 36px;
    color: #1F2937;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

.quote figcaption {
    text-align: end;
    font-weight: bolder;
    font-size: 18px;
    color: #1F2937;
}

.sign-up {
    padding: 10em;
}

.cta {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 13px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
}

.cta h1, .cta p {
    margin: 0;
    padding: 0;
}

.cta h1 {
    font-size: 24px;
}

.cta button {
    border: 2px solid #E5E7EB;
}

.footer {
    background-color: #1F2937;
    text-align: center;
    color: #E5E7EB;
    padding: 2em;
}