body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: 'Roboto', sans-serif;

}

.header {
    display: flex;
    padding: 0.5em 2em;
    justify-content: space-between;
    background-color: #1F2937;
}

.header img {
    height: 50px;
    width: auto;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    gap: 2em;
}

.navbar a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 300;
}

.navbar a:hover {
    color: #2b66c5;
}

.hero {
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    padding: 2em 0;
}

.hero-content {
    width: 50%;
}

.hero h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.hero p {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 300;
}

.hero img {
    height: 300px;
    width: auto;
}

.hero-content button, .cta button {
    padding: 0.5em 1.5em;
    background-color: #3882F6;
    font-size: 18px;
    color: #E5E7EB;
    border-radius: 13px;
    border: 0;
    font-weight: bolder;
}

.infos {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 500px;
}

.infos h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.images {
    display: flex;
    justify-content: center;
    height: 300px;
    align-items: center;
}

figure {
    margin: 0 1em;
}

figcaption {
    margin-top: 1em;
}

.images img {
    width: auto;
    height: 100px;
}

.images figcaption {
    width: 300px;
}

.quote {
    background-color: #E5E7EB;
    text-align: center;
    padding: 10em;
}

.quote p {
    font-size: 36px;
    color: #1F2937;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

.quote figcaption {
    text-align: end;
    font-weight: bolder;
    font-size: 18px;
    color: #1F2937;
}

.cta {
    padding: 10em;
}

.modal {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 13px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
}

.modal h1, .modal p {
    margin: 0;
    padding: 0;
}

.modal h1 {
    font-size: 24px;
}

.modal button {
    border: 2px solid #E5E7EB;
}

.footer {
    background-color: #1F2937;
    text-align: center;
    color: #E5E7EB;
    padding: 2em;
}