body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: "Roboto", Arial, sans-serif;
}

.header {
    display: flex;
    padding: 1em 0;
    justify-content: space-around;
    background-color: #1F2937;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
}

.navbar a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.navbar a:hover {
    color: aqua;
}

.hero {
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    padding: 2em 0;
}

.hero-content {
    width: 25%;
}

.hero h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.hero p {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-content button {
    padding: 0.5em;
    width: 100px;
    height: 40px;
    background-color: #3882F6;
    font-size: 18px;
    color: #E5E7EB;
    border-radius: 15px;
    border: 0;
}